.wrapBox {
  max-width: 600px;
  border: 2px solid;
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  p {
    margin: 0;
    transform: translateX(100%);
    animation: marquee 10s linear infinite;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
